/*HEADER*/
#header{
	background-color: #303030;
    width:100%;
    height: auto;
}

#header img,h1 {
    display:inline-block;
    vertical-align:middle;
 }
#header img{
    width: 11%;
    height: 6%;
    border-right: 1px solid green;
}
#header h1{
   color:white;
    padding-right:0.5%;
}
#header .utentelog a{
    background-color: white;
     color:dimgray;
    padding:0.1em;
    float: right;
    display: inline-block;
    font-size: 1.3em;
    border: 2px solid #336633;
    border-radius: 0.3em;
	margin-right:0.5em;
}
#header .utentelog a:hover{
    background-color: #336633;
    color:white;
    border:2px solid #303030;
}
#registrazione{font-size:0.8em;
    position: relative;
  
  
}
#login{
	margin-left:2em;
    font-size:0.8em;
     position: relative;
}
#logout{
    font-size:0.8em;
     position: relative;
}
#amministrazione{
    font-size:0.8em;
     position: relative;
}
/*#logout{
	 font-size:0.8em;
   display:none;
}*/
/*fine header*/
/*BARRARICERCA*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search { 
    position: absolute;
    top:4%;
    right:5%;
  width: 30%;
    display: inline-block;
}

.searchTerm {
  float: left;
  width: 90%;
    min-width: 10em;
  border: 3px solid #336633;
  padding: 0.3em;
  height: 1.3em;
    font-size: 1.3em;
  border-radius: 0.5em;

  color: #336633;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
    position: absolute;
  width: 1.7em;
  height: 1.7em;
  border: 2px solid #336633;
  background: white;
  text-align: center;
  color: #336633;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.7em;
    background-image:url('../immagini/immaginivarie/buttone.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.wrap{
    width: 30%;
}
   
/*fine barra ricerca*/

/*BODY*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
    margin: 0px;
    padding:0px;
    background-color:#f1f1f1;
  font-family: 'Open Sans', sans-serif;
}body .content{
    margin-left: 10%;
    margin-right: 10%;
}
a:link{
     text-decoration: none;
}
a:inactive{
    color:white;
}
/*Fine BODY*/


/*FOOTER*/
#footer, #footer h2{
    font-size: 1.4em;
    padding-left: 5%;
    color: white;
    display: inline-block;
    
}
#footer li a{
	background-color:white;
}
#footer li{
	
    width: 13%;
	margin-bottom:0.6em;
    height:10%;
    list-style: none;
    font-size: 0.8em;
}
a:visited {
    color:violet;
}
#footer{
    height: auto;
	background-color: #303030;
    width: 95%;
    clear: both;
    margin-top:3%; 
}
#motto{
    margin-bottom:0.5%;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
}
/*social*/

/*Fine footer*/
/*MEDIA QUERY*/
/*MOBILE*/
@media  screen and (max-width:640px)
{
  
  .search { position: relative;
        width: 100%;
        display: inline-block;
      font-size: 0.7em;
      margin-left:5%; 
    }
	.content{
	margin-top:2em;
	}
   
  
}
@media only screen and (min-width : 640px) and (max-width:768px){
    .search { 
      margin-right:3%; 
        font-size: 0.7em;
    }

}
/*TABLET*/
@media only screen and (min-width : 768px) and (max-width:1024px){
    .search { 
      margin-right:1.5%; 
    }
 
    
}
