/*FOOTER*/
footer, h2{
    font-size: 1.4em;
    padding-left: 5%;
    color: white;
    display: inline-block;
    
}
footer li{
    width: 13%;
	margin-bottom:0.5em;
    height:10%;
    list-style: none;
    font-size: 0.7em;
}

a:visited {
    color:violet;
}
footer{
    height: auto;
	background-color: #303030;
    width: 95%;
    clear: both;
    margin-top:3%; 
}
#motto{
    margin-bottom:0.5%;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
}
/*social*/

/*Fine footer*/