[value|=elimina],[value|=Inserisci] {
    background:white;
	border:3px solid #336633;
	border-radius:3px;
	}
[value|=elimina]:hover,[value|=Inserisci]:hover {
    background:#336633;
	border:3px solid black;
	border-radius:3px;
	color:white;
	}
.content span.succ h2{
	color:green;
	text-align:center;
}
#amministrazione{
	display:none;
}
.content span.errnews{
	color:red;
	text-align:center;
}
.del a{
	color:black;
	background-color:white;
	border:3px solid #336633;
	border-radius:3px;
	margin-bottom:1.5em;
	padding:0.3% 0.3% 0.3% 0.3%;
}
.del a:hover{
	background-color:#336633;
	border-color:black;
	color:white;
}
.del {
	float:left;
	width:100%;
}
h2{
	color:black;
}
textarea,.content input[type=text]{
	border:2px solid #303030;
	padding:0.3em 0.3em;
}