/*MEDIA QUERY*/
/*MOBILE*/
@media  screen and (max-width:640px)
{
    .news{
        width:17em;
        font-size: 0.8em;
    }
    

     .news{
        margin-left:3%; 
        width:100%;
         max-width:25em;
        font-size: 0.8em;
    }
  
    .news img:hover { 
    transform: none;
     
}
  
}
@media only screen and (min-width : 640px) and (max-width:780px){
     .news{
        margin-left:3%; 
        width:45%;
        font-size: 0.8em;
    }
}

    /*TABLET*/
@media only screen and (min-width : 680px) and (max-width:1024px){

     .news{
        margin-left:3%; 
        width:45%;
        font-size: 0.8em;
    }

    
}